h1{
    color:aqua;
    font-family: initial;
    font-size:xx-large ;
    color: chocolate;
}
.a{
    color:grey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifw ;
    font-size:xx-large ;
    color:lightseagreen;
    text-align-last: center;
}